---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import MetaBanner from '../components/MetaBanner.astro';
import HeroSection from '../components/HeroSection.astro';
import ProblemSection from '../components/ProblemSection.astro';
import HierarchySection from '../components/HierarchySection.astro';
import SpecWizardSection from '../components/SpecWizardSection.astro';
import AuthorsNotes from '../components/AuthorsNotes.astro';
import CTASection from '../components/CTASection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <MetaBanner />
  <main>
    <HeroSection />
    <ProblemSection />
    <HierarchySection />
    <SpecWizardSection />
    <AuthorsNotes />
    <CTASection />
  </main>
  <Footer />
</Layout>
