---
import Layout from '../layouts/Layout.astro';
import MetaBanner from '../components/MetaBanner.astro';
import HeroSection from '../components/HeroSection.astro';
import ProblemSection from '../components/ProblemSection.astro';
import SolutionSection from '../components/SolutionSection.astro';
import HierarchyExplorer from '../components/HierarchyExplorer.astro';
import SpecWizard from '../components/SpecWizard.astro';
import ComparisonSection from '../components/ComparisonSection.astro';
---

<Layout title="RootSpec - Philosophy guides implementation" data-test="mobile-layout">
  <h1 data-test="main-heading" class="sr-only">RootSpec Marketing Site</h1>

  <MetaBanner />
  <HeroSection />
  <ProblemSection />
  <SolutionSection />
  <HierarchyExplorer />
  <SpecWizard />
  <ComparisonSection />
</Layout>